.banner {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  z-index: 0;
}
.banner-overlay {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
  background: rgb(21,26,31);
  background: linear-gradient(90deg, rgba(21,26,31,1) 0%, rgba(21,26,31,0.5) 100%);
}
.banner-overlay .poster-info {
  width: 50%;
}
.banner-overlay .poster-info a {
  width: fit-content;
  text-decoration: none;
  border-radius: 60px;
}