.movies-row {
  width: 100%;
  height: fit-content;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 7px;
}
.row-box {
  position: relative;
  padding: 0 5%;
}
.row-title {
  padding: 0 5%;
}
.movie-card {
  width: 150px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
  overflow: hidden;
  transform: scale(100%);
  transition: transform 0.05s ease-in-out;
}
.movie-card:hover {
  transform: scale(105%);
}
.movie-search-card {
  width: 200px;
  height: 370px;
  border-radius: 5px;
  border: solid 1px rgb(109, 109, 109);
  transform: scale(100%);
  transition: transform 0.1s ease-in-out;
}
.movie-search-card:hover {
  transform: scale(105%);
}
.movie-search-card img {
  width: 100%;
  min-height: 300px;
  
  border-radius: 5px;
}
.movie-search-info {
  text-align: center;
}
.movie-search-info p {
  font-size: 14px;
  padding: 10px 5px;
}
.row-box button {
  position: absolute;
  background: none;
  border: none;
  font-size: 60px;
  z-index: 100;
  cursor: pointer;
  color: #fff;
}
#left {
  top: 30%;
  left: 10px;
}
#right {
  top: 30%;
  right: 10px;
}
.movies-row::-webkit-scrollbar {
  height: 7px;
}
.movies-row::-webkit-scrollbar-track {
  visibility: none;
}
.movies-row::-webkit-scrollbar-thumb {
  background-color: rgba(255, 119, 0, 0.7);
  height: 7px;
  border-radius: 10px;
}